<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Edit Game</title>
</head>

<body>
	<form action="#" th:action="@{/user/resetPassword/}" method="post">
		<table>
			<tr>
				<td><label for="email">Email</label></td>
				<td><input type="text" id="email" name="email"
					th:placeholder="Email" class="form-control" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Reset Password"></input></td>
			</tr>
		</table>
	</form>
	<span th:text="${message}"></span>
</body>


</html>