<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Reset Password</title>
</head>
<body>
	<h2>Enter new password:</h2>
	<form action="#" th:action="@{/savePassword}" method="post">
	
		<table>
			<tr>
			<td><label for="password">password</label></td>
				<td><input type="password" id="password" name="password"
					th:placeholder="password" class="form-control" />
			<tr>
				<td><input type="reset" value="Clear" /></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>
	</form>
</body>

</html>