<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Reset Password</title>
</head>
<body>
	<h2>Enter new password:</h2>
	<form action="#" th:action="@{/user/savePassword}" th:object="${user}"
		method="post">
		<table>
			<tr>
				<td><label for="email">Email</label></td>
				<td><input th:field="*{email}" type="text" name="emailId"
					readonly></input></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><input th:field="*{password}" type="password"
					name="password"></input></td>
			</tr>
			<tr>
				<td><input type="reset" value="Clear" /></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>
	</form>
</body>

</html>